@model LibraryWebApp.Models.Rental
@{
    ViewData["Title"] = "New Rental Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New</h1>

<form id="newRental">
    <div class="form-group">
        <label style="font-family:'Segoe UI'">Reader</label>
        <div class="typeahead">
            <input id="readers" type="text" class="typeahead" style="border-radius: 3px" placeholder=" Reader..." />
        </div>
    </div>
    <div class="form-group" id="typeahead">
        <label style="font-family:'Segoe UI'">Book</label>
        <div class="typeahead">
            <input id="books" type="text" class="typeahead" style="border-radius: 3px" placeholder=" Book..." />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul id="booksList" class="list-group"></ul>
        </div>
    </div>
    <br />
    <div>
        <button class="btn btn-primary">Submit</button>
    </div>

</form>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {

            var vm = { bookIds: [] };

            var readers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: '/api/readers',
                remote: {
                    url: '/api/readers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            var books = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('title'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: '/api/books',
                remote: {
                    url: '/api/books?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#readers').typeahead({
                minlength: 0,
                highlight: true
            }, {
                name: 'readers',
                display: 'name',
                source: readers
            }).on("typeahead:select", function (e, reader) {
                console.log(reader.name);
                vm.readerId = reader.id;
            });

            $('#books').typeahead({
                minlength: 0,
                highlight: true
            }, {
                name: 'books',
                display: 'title',
                source: books
            }).on('typeahead:select', function (e, book) {
                console.log(book.title);

                $('#booksList').append("<li class='list-group-item'>" + book.title + "</li>");

                $('#books').typeahead('val', '');

                vm.bookIds.push(book.id);
            });

            $('#newRental').submit(function (e) {
                e.preventDefault();

                $.ajax({
                    url: "/api/rentals",
                    method: "post",
                    data: JSON.stringify(vm),
                    contentType: "application/json"
                })
                    .done(function () {
                        $('#books').typeahead('val', '');
                        $('#readers').typeahead('val', '');
                        $('#booksList').empty();

                        vm = { bookIds =[] };

                        toastr.success("Rental Succesfully Posted");
                    })
                    .fail(function () {
                        toastr.error("Rental Failed");
                    });
            });
        });
    </script>
}